approve_Pservicios_cv.html
approve_Pservicios_ajs.html
approve_Pservicios.html
approve_servicios_ajs.html
approve_servicios_cv.html
approve_servicios.html
approve_compras_ajs.html
approve_compras.html
approve_compras_cv.html
approve_almacen_cv.html
repo_nisira_almacen_inversionesAJS_fitosanidad.html
repo_nisira_almacen_donluis_fitosanidad.html
approve_almacen_ajs.html
home.html
poda_calidad.html
raleo_calidad.html
evaluaciones_fitosanitarias.html
evaluaciones_brotacion.html
evaluaciones_long_brote.html
evaluaciones_long_racimo.html
evaluaciones_cont_racimo.html
evaluaciones_floracion_cuaja.html
evaluaciones_calibre_ballas.html
recursos_humanos.html
success.html
Egp_funcion.html
Egp_funcion_inversionesajs.html
Egp_funcion_campoverde.html
tic_procedure.html
libro_mayor_conta.html
libro_mayor_conta_cv.html
libro_mayor_conta_ajs.html
presupuesto_tic_dl.html
contabilidad_libro_af.html
presupuesto_dl.html
fito_apl_diario.html
modal_utilies_oficina.html
modal_sumi_table.html
modal_sueldo_salario.html
header.html
modal_configuraciones.html
modal_capex.html
modal_servicios.html
tb_modal_servicios_dl.html
tb_modal_remuneracion_dl.html
tb_modal_remuneracion_cv.html
tb_modal_configuraciones_dl.html
tb_modal_capex_dl.html
tic_costos_dl.html
tic_mantenimiento_dl.html
modal_mant_user_dl.html
modal_mant_trabajador.html
presupuesto_cv.html
forms_remuneracion.html
tb_modal_remuneracion_ajs.html
tb_modal_remuneracion_cv.html
tb_modal_capex_cv.html
approve_almacen.html
approve_almacen_cv.html
approve_almacen_ajs.html
rrhh_evaluacion_desempeño.html
tic_evaluacion_desempeño.html
rrhh_objetivos.html
tic_objetivos.html
rrhh_competencias.html     
logistica_precio_historico_dl.html
logistica_precio_historico_cv.html
logistica_precio_historico_ajs.html
programa_fitosanitario.html
logistica_precio_historico_os_dl.html
logistica_precio_historico_os_cv.html
logistica_precio_historico_os_ajs.html
list_personal.html
req_interno.html
req_interno_CV.html
req_interno_AJS.html
form_variedad.html
consulta_utilidades.html
conta_ingreso_salida_alm_dl.html
modal_fetilizacion.html
modal_sweet_globe.html
modal_programas.html
modal_detalles.html
reporte_utilidades.html
registro_campana_poda_amarre.html
reporte_campana_poda_amarre.html
mod_sweet_globe.html
almacen_req_internos_dl.html
prueba.html
almacen_rotacion_productos_dl.html
rrhh_reporte.html
salidas_internas.html
costos_rpt_horas_personal.html
contabilidad_plan_cuentas.html
sidebar.html