
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px 3px 3px 3px !important;
    margin: 3px 3px 3px 3px !important;
    font-size: 8px !important;
}

.btn-group>.btn:first-child {
    margin-bottom: 12px !important;
}
