
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar contraseña</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="errorsUpdatePassword"></div>
                <form id="formUpdateUserPassword" action="{% url 'update_password' object.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row form-group m-b-10">
                        <label class="col-md-4 col-form-label">Nombre de usuario</label>
                        <div class="col-md-8">
                        {{form.username}}
                        </div>
                    </div>
                    <div class="row form-group m-b-10">
                        <label class="col-md-4 col-form-label">Nueva contraseña</label>
                        <div class="col-md-8">
                        {{form.password1}}
                        </div>
                    </div>
                    <div class="row form-group m-b-10">
                        <label class="col-md-4 col-form-label">Confirmar contraseña</label>
                        <div class="col-md-8">
                        {{form.password2}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="saveUpdatePasword()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
